.root {
  @include section-pad;
  @include section-fade-bottom($color-bg-section);

  position: relative;
  overflow: clip;
  background: $color-bg;
}

.grid {
  display: grid;
  gap: $spacing-lg;
  grid-template-columns: repeat(6, 1fr);
  margin-top: $spacing-2xl;
  padding: 0;
  list-style: none;

  & > li {
    grid-column: span 2;
  }

  @include desktop {
    & > li:nth-child(4) {
      grid-column: 2 / span 2;
    }

    & > li:nth-child(5) {
      grid-column: 4 / span 2;
    }
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);

    & > li {
      grid-column: span 1;
    }
  }

  @include mobile {
    grid-template-columns: 1fr;

    & > li {
      grid-column: span 1;
    }
  }
}
