.root {
  @include section-pad;
  @include section-fade-bottom($color-bg);

  position: relative;
  overflow: clip;
  background: $color-bg-section;
}

.blob {
  @include tablet-down {
    display: none;
  }
}

.grid {
  display: grid;
  gap: $spacing-lg;
  grid-template-columns: repeat(3, 1fr);
  margin-top: $spacing-2xl;
  padding: 0;
  list-style: none;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile {
    grid-template-columns: 1fr;
  }
}
